*{margin:0;padding:0;}
/* PRELoader css */
#outer-most-loader{height:80px;width:80px;border-radius:50%;display:flex;justify-content:center;align-items:center;border:4px solid rgb(248, 252, 255);border-top:4px solid yellow;animation: spin 3s linear 0.5s infinite;}
#outer-loader{height:60px;width:60px;border-radius:50%;display:flex;justify-content:center;align-items:center;border:4px solid rgb(248, 252, 255);border-top:4px solid red;animation: spin 3s linear 0.5s infinite;}
#inner-loader{height:40px;width:40px;border-radius:50%;display:flex;justify-content:center;align-items:center; border:4px solid rgb(248, 252, 255);border-top:4px solid green;animation: spin 3s linear 0.5s infinite;}
#inner-most-loader{height:20px;width:20px;border-radius:50%;;border:4px solid rgb(248, 252, 255);border-top:4px solid blue;animation: spin 3s linear 0.5s infinite;}
#preloader{position:fixed;inset:0;display:flex;justify-content:center;align-items:center;z-index:9999;}
#loader-box{display:flex;flex-direction:column;justify-content:center;align-items:center;}
#loading-text{margin-top:35px;font-size:2rem;}
@keyframes spin {0%{transform: rotate(0deg);}100%{transform: rotate(360deg);}}
#preloader.hidden{visibility:hidden;opacity:0;}
.hidden{visibility:hidden;opacity:0;}