*{margin:0;padding:0;}
/* PRELoader css */
#outer-most-loader{height:80px;width:80px;border-radius:50%;display:flex;justify-content:center;align-items:center;border:4px solid rgb(248, 252, 255);border-top:4px solid yellow;animation: spin 3s linear 0.5s infinite;}
#outer-loader{height:60px;width:60px;border-radius:50%;display:flex;justify-content:center;align-items:center;border:4px solid rgb(248, 252, 255);border-top:4px solid red;animation: spin 3s linear 0.5s infinite;}
#inner-loader{height:40px;width:40px;border-radius:50%;display:flex;justify-content:center;align-items:center; border:4px solid rgb(248, 252, 255);border-top:4px solid green;animation: spin 3s linear 0.5s infinite;}
#inner-most-loader{height:20px;width:20px;border-radius:50%;;border:4px solid rgb(248, 252, 255);border-top:4px solid blue;animation: spin 3s linear 0.5s infinite;}
#preloader{position:fixed;inset:0;display:flex;justify-content:center;align-items:center;z-index:9999;}
#loader-box{display:flex;flex-direction:column;justify-content:center;align-items:center;}
#loading-text{margin-top:35px;font-size:2rem;}
@keyframes spin {0%{transform: rotate(0deg);}100%{transform: rotate(360deg);}}
#preloader.hidden{visibility:hidden;opacity:0;}
.hidden{visibility:hidden;opacity:0;}
/* Background Image */
body{background-image:url('https://i.ibb.co/Zp6cJGsF/Background-image.jpg');background-repeat: no-repeat;background-size:cover;background-attachment:fixed;background-position:center;}
body.loading{background: none !important;background-color: #fff;}
/* Home page CSS */
/* nav section */
.nav-bar{position: fixed;top:0;left:0; width:100%;height:100px; background:linear-gradient(#fff,#a8deed); z-index:1000;display:flex;justify-content:space-around;align-items: center;visibility:visible;}
.main-content{margin-top:130px;}
#logo-text{display:flex;justify-self: start;align-items: center;}
#edu-logo{height:80px;width:80px;}
#text{margin-left:5px; font-size:36px;color:#0E063B;font-family:'righteous',cursive;}
.menu-items{font-size:20px; font-family:'pacifico',cursive; display:flex;justify-content:space-between;}
.menu-items p{margin-right:80px;}
.menu-items p a{text-decoration:none;color:#000;}
.buttons{ display: flex;justify-content: space-between;align-items:start;}
button{width:138px;height:45px;border-radius:20px;font-size:17px;}
#log-in{margin-right:15px;width:120px;background-color: #fff;outline:none;border:1px solid #000;}
#get-started{background-color: #2FB9DF;border:1px solid#55EEEE;color: #fff;font-weight:bold;}
.more-bar{padding-left:61%;display: flex;justify-content: center;align-items: center;display: none;}
#internal-more{display: flex;flex-direction: column; justify-content: center; align-items: center;
 background:linear-gradient(#fff,#a8deed); opacity:0.8;border-radius:10px;
 border:1px solid #0E063B;width:200px;padding:10px;flex-wrap: wrap;padding-left:1px;padding-right:1px;}
 .more-options a{color:black;text-decoration: none;}
 .more-options a:hover{text-decoration: underline;}
 .more-bar.show{display: block;}
 .menu-items.hide{display: none;}

/* Laptop view and desktop */
@media (min-width:1042px) {.nav-bar{visibility: visible;}.menu-items.hide{display: block;display: flex !important; flex-direction:row;}}
@media (min-width:997px) and (max-width:1042px) {.nav-bar{visibility:visible !important;}.menu-items.hide{display:block;display: flex !important; flex-direction:row;} #text{font-size:30px;}.menu-items{font-size:17px;}.menu-items p{margin-right:30px;}
 button{width:120px;height:42px;font-size:16px;}#log-in{width:110px;}}
@media (min-width:768px) and (max-width:996px) {.nav-bar{visibility:visible !important;}.menu-items.hide{display: block;display: flex !important; flex-direction:row;} #text{font-size:22px;margin-right:8px;}.menu-items{font-size:16px;}.menu-items p{margin-right:15px;}
 button{width:90px;height:38px;font-size:14px;}#log-in{width:110px;}}
@media (max-width:767px){.more-bar{display: none !important;}}