*{
    margin:0;
    padding:0;
}
body{
    font-family:"Smooch Sans", sans-serif;
}
#top-bar{
    /* background-color: #30759a; */
    background-color: #000;
    padding:10px;
    color: whitesmoke;
}
#heading{
    display: flex;
    justify-self:center;
    align-items: center;
    font-size:3rem;
    margin-bottom:20px;
}
#logo{
    width:105px;
    height:105px;
}
 #reg-img-container{
    margin-top:30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#img-edu-reg{
   width:92vw;
   height:50vh;
   border-radius:10px;
   border:2px solid #130dae;
}
.fa-user-plus{
    font-size:2.4rem;
    margin-right:15px;
}

#reg-form{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top:30px;
}
#reg-box{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius:10px;
    padding:10px;
    margin:10px;
    border-color:#130dae;
}
#reg-legend{
   font-size:2.3rem;
   font-weight:480;
   transform:translateY(-7px);
}
#input-container{
    display: flex;
    flex-direction:column;
    align-items: center;
    justify-content: center;
}
input{
    padding:10px;
    outline:none;
    border-radius:5px;
    border:1px solid gray;
    color:black;
    margin-top:10px;
    margin-bottom:10px;
    font-size:1rem;
    font-weight:490;
    width:75vw;
}
input::placeholder{
    color:#07062a;
}
input:hover{
    border:1px solid #2b6b75aa;
    box-shadow:0px 0px 0px 5px #d5edf1aa;
}
label{
    font-size:1.5rem;
}
span{
    font-weight:bold;
    color:rgb(201, 29, 29);
    font-size:2rem;
}
small{
    font-weight:550;
    color:rgb(201, 29, 29);
    font-size:1.5rem;
}
.error-box{
    width:100%;
    display: flex;
    justify-self: start;
}
.input-box{
    display:flex;
}

.fa-exclamation-circle{
   color:rgb(184, 36, 36);
   position: relative;
   top:24px;
   right:50px;
   visibility:hidden;
}
.fa-check-circle{
    color: rgb(89, 132, 24);
   position: relative;
   top:24px;
   right:50px;
   visibility:hidden;
}
.fa-eye{
   position: relative;
   top:24px;
   right:50px;
}
.fa-eye-slash{
   position: relative;
   top:24px;
   right:50px;
}
.submit-box{
    margin-top:20px;
}
#submit{
    outline:none;
    border:1px solid gray;
    padding:10px;
    color:#fff;
    opacity:0.2;
    background-color:#491008;
    border-radius:5px;
    font-size:16px;
    cursor: not-allowed;
}
.err{
    display:none;
}
/* Validation in input fields css */

.input-box.failure input{
    border:1px solid #752b2caa;
    box-shadow:0px 0px 0px 5px #f1d5d5aa;
}
.input-box.success input{
    border:1px solid #2b7532aa;
    box-shadow:0px 0px 0px 5px #d5f1d7aa;
}
.error-box.failure  .err{
    display:block;
}
#submit.enable{
    border:1px solid #262425aa;
    box-shadow:0 0 0 3px #f7cad8aa;
    background-color:#491008;
    color:#fff;
    opacity:1;
    cursor: pointer;
}

/* pop up box css */

 #popup-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.5); 
    backdrop-filter: blur(6px);
    -webkit-backdrop-filter: blur(6px);
    z-index: 999;
    display:none;
}

#popup-box {
    background-color: #fff;
    padding: 25px 35px;
    border-radius: 12px;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
    opacity: 1;
    box-shadow: 0 10px 40px rgba(0,0,0,0.3);
}

#ok{
    padding:10px;
    margin-left:10px;
    border-radius:10px;
}

/*  */


/* RESPONSIVENESS */


@media (max-width:390px){
  .submit-box{
    width:100%;
    display: flex;
    justify-self: start;
  }
}


@media (min-width:768px) and (max-width:1024px){
    #heading{
    font-size:4rem;
    margin-bottom:0px;
}
    .input-container{
        display:flex;
        justify-content: center;
        align-items: center;
        margin-bottom:10px;
    }
    input{
        margin:5px;
        font-size:1.4rem;
    }
    .fa-info-circle{
   top:23px;
   }
   .fa-eye{
   top:23px;
}
   .fa-eye-slash{
   top:23px;
}
.submit-box{
    display:flex;
    justify-self:center;
    align-items: center;
    transform:scale(1.3);
    margin:10px;
    }
    .err{
        position: relative;
        left:200px;
        margin-bottom:25px;
    }
    #reg-box{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin:1.5%;
     margin-top:2.5%;
     border-radius:10px;
     padding:20px;
}
label{
    font-size: 2rem;
}
#reg-legend{
   font-size:3rem;
}
.fa-user-plus{
    font-size:3rem;
}
#img-edu-reg{
   width:95vw;
   height:68vh;
   border-radius:10px;
   border:2px solid #130dae;
}
}

@media (min-width:1024px){
    #heading{
    font-size:4rem;
    margin-bottom:0px;
}
    .input-container{
        display:flex;
        justify-content: center;
        align-items: center;
        margin-bottom:10px;
    }
    input{
        margin:5px;
        font-size:1.4rem;
    }
    .fa-info-circle{
   top:23px;
   }
   .fa-eye{
   top:23px;
}
   .fa-eye-slash{
   top:23px;
}
.submit-box{
    display:flex;
    justify-self:center;
    align-items: center;
    transform:scale(1.3);
    margin:10px;
    }
    .err{
        position: relative;
        left:200px;
        margin-bottom:25px;
    }
    #reg-box{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     margin:1.5%;
     margin-top:2.5%;
     border-radius:10px;
     padding:20px;
}
label{
    font-size: 2rem;
}
#reg-legend{
   font-size:3rem;
}
.fa-user-plus{
    font-size:3rem;
}
#img-edu-reg{
   width:95vw;
   height:68vh;
   border-radius:10px;
   border:2px solid #130dae;
}
}